{% extends "base.html" %}
{% block "title" %}Užsakymas{% endblock %}


{% block "content" %}
<h1>Užsakymas {{ order.id }}:</h1>
<hr>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Klientas: </strong>{{ order.user }}</p>
<p><strong>Būsena: </strong>{{ order.status }}</p>
<table class="table table-striped">
    <tr>
        <th>Produktas</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.product.name }}</td>
        <td>{{ line.product.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.suma }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td>Bendra suma:</td>
        <td>{{ order.total }}</td>
    </tr>
</table>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'orderline_new' order.id %}">Pridėti produktą</a>
{% endblock %}
